@value theme: "theme";
@value --white, --blue, --gray from theme;

.navbarItem {
  cursor: pointer;
  min-height: 40px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 3px 25px 3px 12px;
  margin-bottom: 12px;
  transition: background-color 0.2s;
}

.navbarItem:hover {
  background-color: --gray;
}

.navbarItemActive {
  font-weight: bold;
}

.navbarItemText {
  padding-left: 20px;
}

.nestedNavbarItem {
  justify-content: space-between;
}

.navbarItemIcon {
  fill: --white;
}

.nestedNavbarItemCaret {
  transition: 0.1s;
  transform: rotate(0deg);
}

.nestedNavbarItemCaretExpanded {
  fill: --blue;
  transform: rotate(180deg);
}
