@value theme: "theme";
@value --white, --darkgray from theme;

.navbarItem {
  cursor: pointer;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 7px 25px 7px 12px;
  transition: background-color 0.2s;
}

.navbarItem:hover {
  background-color: --darkgray;
}

.navbarItemShown {
  margin-bottom: 5px;
  border-radius: 25px;
}

.navbarItemIcon {
  padding: 0;
}

.navbarItem-sm {
  gap: 10px;
}

.navbarItem-md {
  gap: 20px;
}

.nestedNavbarItem {
  justify-content: space-between;
}

.nestedNavbarItemIcon {
  transition: 0.1s;
  transform: rotate(0deg);
}

.nestedNavbarItemIconExpanded {
  transform: rotate(-180deg);
}
