@value theme: "theme";
@value --white, --gray from theme;

.main {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 25px;
}

.feed {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  border-left: 1px solid --gray;
  border-right: 1px solid --gray;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header p {
  color: --white;
}

.header svg {
  fill: --white;
}

.sidebar {
  min-width: 350px;
  padding-right: 10px;
}

.fixedSidebar {
  top: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: inherit;
}

@media (max-width: 1025px) {
  .sidebar {
    display: none;
  }
}
