@value theme: "theme";
@value --white, --blue, --green, --lightgray from theme;

.iconContainer {
  display: flex;
  justify-content: center;
}

.iconSize-xs {
  padding: 5px;
}

.iconSize-xs svg {
  width: 1.25rem;
  height: auto;
}

.iconSize-sm {
  padding: 7px;
}

.iconSize-sm svg {
  width: 1.5rem;
  height: auto;
}

.iconSize-md {
  padding: 12px;
}

.iconSize-md svg {
  width: 2rem;
  height: auto;
}

.iconSize-lg svg {
  width: 2.5rem;
  height: auto;
}

.iconColor-primary svg {
  fill: --white;
}

.iconColor-secondary svg {
  fill: --lightgray;
}

.iconColor-tertiary svg {
  fill: --blue;
}

.iconColor-green svg {
  fill: --green;
}
