.container {
    position: absolute;
}

.arrow {
    position: absolute;
}

.arrowTop {
    width: 0px;
    top: -14px;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #000;
    border-left: 7px solid transparent;
}

.arrowRight {
    height: 0px;
    top: 0;
    bottom: 0;
    right: -14px;
    margin: auto;
    border-top: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #000;
}
.arrowBottom {
    width: 0px;
    bottom: -14px;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 7px solid #000;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
}

.arrowLeft {
    height: 0px;
    top: 0;
    bottom: 0;
    left: -14px;
    margin: auto;
    border-top: 7px solid transparent;
    border-right: 7px solid #000;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
}

.popupMenu {
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 3px;
    opacity: 0;
    transition: opacity 0.1s;
}

.popupMenuVisible {
    opacity: 1;
}

