@value theme: "theme";
@value --white, --black, --lightgray from theme;

.container {
  position: absolute;
}

.arrow {
  position: absolute;
}

.arrowTop {
  display: table;
  top: -14px;
  left: 0;
  right: 0;
  margin: auto;
  border-top: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid --black;
  border-left: 7px solid transparent;
}

.arrowRight {
  display: table;
  top: 0;
  bottom: 0;
  right: -14px;
  margin: auto;
  border-top: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid --black;
}

.arrowBottom {
  display: table;
  bottom: -14px;
  left: 0;
  right: 0;
  margin: auto;
  border-top: 7px solid --black;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
}

.arrowLeft {
  display: table;
  top: 0;
  bottom: 0;
  left: -14px;
  margin: auto;
  border-top: 7px solid transparent;
  border-right: 7px solid --black;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
}

.popup {
  display: flex;
  background-color: --black;
  color: --white;
  border-radius: 10px;
  box-shadow: rgb(255, 255, 255, 0.5) 0 0 10px;
  opacity: 0;
  transition: 0.1s;
}

.popupVisible {
  opacity: 1;
}
