.iconContainer {
  display: flex;
  justify-content: center;
}

.sm svg {
  width: 1.5rem;
  height: auto;
}

.md svg {
  width: 1.75rem;
  height: auto;
}

.lg svg {
  width: 2.5rem;
  height: auto;
}
