@value theme: "theme";
@value --white, --blue, --green, --lightgray from theme;

.text {
  padding: 0;
  margin: 0;
}

.textSize-xs {
  font-size: 0.875rem;
}

.textSize-sm {
  font-size: 1rem;
}

.textSize-md {
  font-size: 1.25rem;
}

.textSize-lg {
  font-size: 1.75rem;
}

.textColor-primary {
  color: --white;
}

.textColor-secondary {
  color: --lightgray;
}

.textColor-tertiary {
  color: --blue;
}

.textColor-green {
  color: --green;
}

.textBold {
  font-weight: 700;
}
