@value theme: "theme";
@value --blue, --white, --green, --lightblue, --lightgreen, --smaltblue from theme;

.postAudienceButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 15px;
  margin: 0 0 10px 15px;
  background-color: transparent;
}

.postAudienceButton:disabled {
  cursor: default;
  opacity: 0.5;
}

.postAudienceButton-everyone {
  border: 1px solid --smaltblue;
}

.postAudienceButton-everyone:hover:not(:disabled) {
  background-color: --lightblue;
}

.postAudienceButton-twitter-circle {
  border: 1px solid --green;
}

.postAudienceButton-twitter-circle:hover:not(:disabled) {
  background-color: --lightgreen;
}

.postAudienceButtonIcon {
  padding-left: 5px;
}

.postAudienceItem {
  display: flex;
  flex-direction: row;
}

.postAudienceItemInfoContainer {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.worldAvatar {
  background-color: --blue;
}

.twitterCircleAvatar {
  background-color: --green;
}

.audienceIcon {
  fill: --white;
}
