@value theme: "theme";
@value --white, --lightgray from theme;

.input {
  background: transparent;
  color: --white;
  font-size: 1.5rem;
  border: none;
  outline: none;
  padding: 15px 0 15px 7px;
  margin-left: 10px;
}

.input::placeholder {
  color: --lightgray;
}
