@value theme: "theme";
@value --black, --blue, --white, --blue, --lightblue, --darkblue from theme;

.button {
  cursor: pointer;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.2s;
}

.button:disabled {
  cursor: default;
  opacity: 0.5;
}

.buttonSize-sm {
  padding: 10px 15px;
}

.buttonSize-md {
  padding: 15px 85px;
}

.buttonStyle-primary {
  background-color: --blue;
  color: --white;
}

.buttonStyle-primary:hover:not(:disabled) {
  background-color: --darkblue;
}

.buttonStyle-secondary {
  background-color: transparent;
}

.buttonStyle-secondary:hover:not(:disabled) {
  background-color: --lightblue;
}

.buttonStyle-tertiary {
  background-color: --white;
  color: --black;
}

.iconButton {
  cursor: pointer;
  border: none;
  border-radius: 25px;
  transition: background-color 0.2s;
  padding: 0;
}

.iconButton:disabled {
  cursor: default;
  opacity: 0.5;
}
