@value theme: "theme";
@value --lightgray from theme;

.layoutSpread {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.layoutContainer {
  height: inherit;
  max-width: 768px;
  display: flex;
  flex-direction: row;
}

.main {
  height: inherit;
  border-left: 1px solid --lightgray;
  border-right: 1px solid --lightgray;
}
