@value theme: "theme";
@value --gray from theme;

.layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  flex: 1;
  border-left: 1px solid --gray;
  border-right: 1px solid --gray;
}
