@value theme: "theme";
@value --lightgray from theme;

.layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  flex: 1;
  border-left: 1px solid --lightgray;
  border-right: 1px solid --lightgray;
}
