@value theme: "theme";
@value --gray from theme;

.menu {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.menuTitle {
  padding: 0 15px 10px;
}

.menuList {
  display: flex;
  flex-direction: column;
}

.menuItem {
  background: transparent;
  padding: 12px;
  transition: background-color 0.2s;
  cursor: pointer;
  border: none;
}

.menuItem:hover {
  background-color: --gray;
}
